<div id="<%= dom_id redditclone %>">
  <p>
    <strong>First name:</strong>
    <%= redditclone.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= redditclone.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= redditclone.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= redditclone.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= redditclone.twitter %>
  </p>

</div>
